@charset "utf-8";

// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 16 times
@color1: #757575; // Appears 13 times
@color2: #0f0f0f; // Appears 9 times
@color3: #00bb00; // Appears 8 times
@color4: #3a3a3a; // Appears 6 times
@color5: #00d700; // Appears 6 times
@color6: #54c8f9; // Appears 4 times
@color7: #5d5d5d; // Appears 4 times
@color8: #616161; // Appears 4 times
@color9: #71d4fe; // Appears 4 times
@color10: #d52e2f; // Appears 3 times
@color11: #c42526; // Appears 3 times
@color12: #000000; // Appears 3 times
@color13: #f07b0e; // Appears 3 times
@color14: #aaaaaa; // Appears 2 times
@color15: #898989; // Appears 2 times
@color16: #c9c9c9; // Appears 2 times
@color17: #a3a3a3; // Appears 2 times
@color18: #c0c0c0; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width2: 421px; // Appears 4 times
@width4: 232px; // Appears 2 times
@width5: 100px; // Appears 2 times
@width6: 364px; // Appears 3 times
@width7: 163px; // Appears 2 times
@width10: 31px; // Appears 2 times
@width11: 40px; // Appears 2 times
@width12: 29px; // Appears 2 times
@width15: 48px; // Appears 2 times
@width16: 59px; // Appears 4 times
@width17: 38px; // Appears 2 times
@width20: 81px; // Appears 2 times
@width26: 14px; // Appears 3 times
@width27: 43px; // Appears 2 times
@width28: 16px; // Appears 2 times
@width30: 28px; // Appears 2 times
@width32: 53px; // Appears 2 times
@width33: 20px; // Appears 2 times
@width34: 100%; // Appears 10 times
@width35: 60px; // Appears 3 times
@width37: 10px; // Appears 2 times
@width39: 49px; // Appears 3 times
@width41: 17px; // Appears 2 times
@width44: 21px; // Appears 2 times
@width50: 7px; // Appears 3 times

// Height variables (appears count calculates by raw css)
@height8: 38px; // Appears 2 times
@height11: 41px; // Appears 3 times
@height12: 31px; // Appears 2 times
@height13: 42px; // Appears 4 times
@height16: 29px; // Appears 2 times
@height18: 14px; // Appears 2 times
@height19: 13px; // Appears 3 times
@height20: 12px; // Appears 2 times
@height21: 37px; // Appears 3 times
@height22: 47px; // Appears 10 times
@height23: 20px; // Appears 3 times
@height24: 100%; // Appears 7 times
@height25: 15px; // Appears 2 times
@height27: 16px; // Appears 3 times
@height28: 26px; // Appears 3 times
@height30: 6px; // Appears 2 times
@height31: 7px; // Appears 3 times
@height33: 9px; // Appears 2 times

#webitel-panel {
  .webitel-call {
    .t-menu {
      border: 0;
      font-size: 100%;
      font: inherit;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }
  }
  ol {
    list-style: none;
  }
  blockquote {
    quotes: none;
  }
  textarea {
    display: block;
    overflow: auto;
    resize: none;
    vertical-align: top;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    td {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: @color18;
      vertical-align: middle;
    }
  }
  .fll {
    float: left;
  }
  .flr {
    float: right;
  }
  .clr {
    &:after {
      clear: both;
      content: '';
      display: block;
      float: none !important;
      font-size: 0;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
  }
  input[type="submit"] {
    cursor: pointer;
  }
  input[type='text'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: @color7;
    border: none;
    box-sizing: border-box;
    color: @color0;
    outline: none;
    padding: 0 10px 0 17px;
  }
  .t-alert {
    .t-content {
      table {
        min-width: @width2;
      }
    }
  }
}
ul {
  list-style: none;
}
q {
  quotes: none;
}
#webitel-panel blockquote:before, blockquote:after, q:before, q:after  {
  content: '';
  content: none;
}
.webitel-call {
  bottom: 0;
  color: @color18;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  padding-left: 23px;
  position: fixed;
  right: 140px;
  vertical-align: middle;
  z-index:30;
}
.webitel-call.left {
  left: 140px;
  right: inherit;
}
.t-menu {
  position:relative;
  z-index:32;
  li {
    float: left;
  }
}
.t-menu_item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: @color4 url("~/plugins/webitel/cti/img/sprite-x.png") no-repeat;
  border-left: 1px solid @color1;
  box-sizing: border-box;
  cursor: pointer;
  height: @height22;
  line-height: @height22;
  min-width: @width32;
  text-align: right;
  &:hover {
    background-color: @color2;
  }
}
.active {
  .t-menu_item {
    background-color: @color2;
  }
}
.t-menu_messages-am {
  background: #00a9f0;
  border-radius: 13px;
  color: @color0;
  display: inline-block;
  font-size: 9px;
  height: @height23;
  line-height: 22px;
  margin-right: 3px;
  margin-top: 36%;
  min-width: @width33;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
}
.t-content {
  bottom: 48px;
  display:none;
  left: 0;
  position: absolute;
  table {
    background: @color4;
    width: @width34;
  }
  tr {
    border-top:1px solid @color1;
    height: @height22;
    &:hover {
      background: @color2;
    }
  }
  td {
    border-right: 1px solid @color1;
    height: @height22;
    max-width: @width34;
  }
  .t-status {
    border-right: none;
    height: @height24;
    min-width: 6px;
  }
  .t-mail {
    .t-mail-sound__true {
    }
  }
  tr.t-mail-sound-box-tr {
    border-top: none;
    height: @height21;
  }
  .t-mail-sound-box-tr {
    td {
      border-right: none;
      height: @height21;
    }
  }
}
.t-window_head {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: @color7;
  box-sizing: border-box;
  height: @height22;
  position: relative;
  width: @width34;
  input[type='text'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: @height22;
    width: @width34;
  }
  .t-btn-favor {
    &:before {
      left: 14px;
      top: 14px;
    }
  }
}
.t-window_head.t-window_head__search {
  padding-left:64px;
  .t-btn-search {
    border-right: 1px solid @color1;
    left: 0;
    position: absolute;
    top: 0;
  }
}
.t-window_head.t-window_head__favor {
  padding-right:60px;
  .t-btn-favor {
    border-left: 1px solid @color1;
    position: absolute;
    right: 0;
    top: 0;
    &:before {
      background-position:-31px -16px;
    }
    &:hover {
      background: @color2;
    }
  }
}
.t-window_head.t-window_head__t-conf {
  padding-left:100px;
  .t-btn-conf {
    left: 0;
    position: absolute;
    top: 0;
  }
  .t-btn-search {
    border-right: 1px solid @color1;
    left: 51px;
    position: absolute;
  }
}
.t-status__01 {
  .t-status {
    background: @color3;
  }
}
.t-status__02 {
  .t-status {
    background: @color13;
  }
}
.t-status__03 {
  .t-status {
    background: @color11;
  }
}
.t-status__04 {
  .t-status {
    background: #999d99;
  }
}
.t-status__05 {
  .t-status {
    background: @color16;
  }
}
.t-status__06 {
  .t-status {
    background: #676767;
  }
}
td.t-userpic {
  border-right: none;
  text-align: center;
  width: @width35;
}
div.t-userpic {
  border-right: none;
  text-align: center;
  width: @width35;
}
.t-userpic {
  img {
    border-radius: 31px;
    display: inline-block;
    margin-top: 5px;
  }
}
.t-username {
  padding-right: 12px;
  width: @width5;
  &:before {
  }
}
td.t-usernum {
  border-right: none;
  padding: 0 13px;
}
.t-time {
  color: @color17;
  font-size: 12px;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}
.t-date {
  color: @color15;
  color: @color17;
  font-size: 12px;
  padding: 0 17px 0 8px;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}
td.t-time {
  border-right: none;
  padding: 0 8px 0 17px;
}
.t-hide-menu-btn {
  background: @color4;
  bottom: 0;
  cursor: pointer;
  display: block;
  height: @height22;
  left: 0;
  position: absolute;
  width: 23px;
  z-index:32;
  &:hover {
    background: @color2;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -101px -16px;
    content: '';
    display: block;
    height: @height20;
    left: 9px;
    position: absolute;
    top: 20px;
    width: 5px;
  }
}
.t-hide-menu-btn.t-hide-menu-btn__hidden {
  &:before {
    background-position: -96px -16px;
  }
}
td.t-box-btn {
  border-right: none;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  width: @width30;
}
.t-box-btn {
  &:last-child {
    padding-right: 10px;
  }
}
.t-btn {
  border-radius: 28px;
  display: inline-block;
  height: 28px;
  position: relative;
  visibility: hidden;
  width: @width30;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") 100px 100px;
    content: '';
    display: block;
    height: @height18;
    left: 7px;
    position: absolute;
    top: 7px;
    width: @width26;
  }
}
tr {
  &:hover {
    .t-btn {
      visibility: visible;
    }
  }
}
.t-alert {
  .t-btn {
    visibility: visible;
  }
  .t-btn__x-box {
    border-left: 1px solid @color1;
    padding: 0 10px;
    width: @width27;
  }
  .t-menu_item {
    background-position: -290px 55%;
    width: @width32;
  }
  .t-box-btn {
    padding-right: 7px;
  }
  .t-box-btn.t-alert-box__first {
    padding: 0 7px 0 11px;
  }
  .t-alert-box__last {
    padding: 0 11px 0 0;
  }
  .t-active {
    .t-btn {
      display: none;
    }
    .t-box-btn {
      .t-btn__x {
        display: inline-block;
      }
    }
  }
  .t-time {
    span.hours {
      &::after {
        content: ' : ';
      }
    }
    span.minutes {
      &::after {
        content: ' : ';
      }
    }
  }
}
.t-btn__call {
  background: @color3;
  &:hover {
    background: @color5;
  }
  &:before {
    background-position: -99px 0;
  }
}
.t-btn__call-2 {
  background: @color13;
  &:hover {
    background: #ff8615;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -113px 0;
    left: 6px;
    top: 8px;
    width: @width28;
  }
}
.t-btn__left {
  background: @color3;
  &:hover {
    background: @color5;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -71px -16px;
    height: @height19;
    left: 6px;
    top: 8px;
    width: @width26;
  }
}
.t-btn__out {
  background: @color11;
  &:hover {
    background: @color10;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -85px -16px;
    left: 8px;
    top: 8px;
    width: 11px;
  }
}
.t-btn__lock {
  background: @color8;
  &:hover {
    background: @color8;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") 0 -20px;
    height: @height19;
    left: 9px;
    top: 7px;
    width: @width37;
  }
}
.t-btn__voice {
  background: @color3;
  &:hover {
    background: @color5;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -106px -16px;
    height: @height19;
    left: 7px;
    top: 8px;
    width: @width26;
  }
}
.t-btn__down {
  background: @color3;
  &:hover {
    background: @color5;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -120px -16px;
    height: @height18;
    left: 7px;
    top: 8px;
    width: 13px;
  }
}
.t-btn__trash {
  background: @color8;
  &:hover {
    background: @color10;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -133px -16px;
    height: @height25;
    left: 8px;
    top: 7px;
    width: 12px;
  }
}
.t-btn__pause {
  background: @color6;
  &:hover {
    background: @color9;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -146px -17px;
    height: 11px;
    left: 9px;
    top: 9px;
    width: 9px;
  }
}
.t-btn__end {
  background: @color11;
  &:hover {
    background: @color10;
  }
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -129px 0;
    height: @height33;
    left: 5px;
    top: 9px;
    width: 18px;
  }
}
.t-btn.t-btn__x {
  background: @color8;
  display: inline-block;
  height: 22px;
  position: relative;
  width: 22px;
}
.t-btn__x {
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -148px 0;
    height: @height31;
    left: 8px;
    top: 7px;
    width: @width50;
  }
}
.t-btn-search {
  cursor: pointer;
  height: @height24;
  position: relative;
  width: @width39;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") no-repeat -48px 0;
    content: '';
    display: block;
    height: @height27;
    left: 17px;
    position: absolute;
    top: 16px;
    width: @width41;
  }
}
.t-box-btn-favor {
  width: @width39;
}
.t-btn-favor {
  bottom: 2px;
  cursor: pointer;
  height: @height22;
  position: relative;
  width: @width39;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -10px -16px;
    content: '';
    display: block;
    height: @height23;
    left: 15px;
    position: absolute;
    top: 15px;
    width: @width44;
  }
  &:hover {
    before {
      background-position:-31px -16px;
    }
  }
}
.t-favor__true {
  .t-btn-favor {
    &:before {
      background-position:-31px -16px;
    }
    &:hover {
      before {
        background-position:-10px -16px;
      }
    }
  }
}
.t-btn-conf {
  background: @color3;
  cursor: pointer;
  height: @height22;
  position: relative;
  width: 51px;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") 0 -36px;
    content: '';
    display: block;
    height: @height28;
    left: 13px;
    position: absolute;
    top: 11px;
    width: 26px;
  }
  &:hover {
    background: @color5;
  }
}
.t-btn.t-btn__plus {
  background: @color6 url("~/plugins/webitel/cti/img/t-btn__plus.png") center no-repeat;
  border-radius: 31px;
  display: block;
  height: @height12;
  width: @width10;
  &:before {
    display: none;
  }
  &:hover {
    background-color: @color9;
  }
}
.t-btn__minus {
  background: #858585 url("~/plugins/webitel/cti/img/t-btn__minus.png") center no-repeat;
  border-radius: 31px;
  display: block;
  height: @height12;
  width: @width10;
}
.t-btn.t-btn__minus {
  &:before {
    display: none;
  }
}
.t-book {
  .t-menu_item {
    background-position: 7px 55%;
    width: @width16;
  }
  .t-content {
    width:@width2;
  }
}
.t-conf {
  .t-menu_item {
    background-position: -50px 55%;
    width: @width35;
  }
  .t-username {
    border-right: none;
    width: 170px;
  }
  .t-box-btn {
    border-right: 1px solid @color1;
    padding: 0 21px 0 18px;
  }
}
td.t-box-conf-icon {
  border-right: none;
  width: @width15;
}
.t-conf-icon {
  height: @height22;
  position: relative;
  width: @width15;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -52px -16px;
    content: '';
    display: block;
    height: @height25;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 19px;
  }
}
td.t-box-recent-arrow-icon {
  border-right: none;
}
.t-recent-arrow-icon {
  border-right: none;
  display: block;
  height: @height24;
  position: relative;
  width: @width11;
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") no-repeat;
    content: '';
    display: block;
    height: @height16;
    position: absolute;
    right: 0;
    top: 9px;
    width: @width12;
  }
}
.t-recent_arrow__up {
  .t-recent-arrow-icon {
    &:before {
      background-position: -27px -36px;
    }
  }
}
.t-recent_arrow__down {
  .t-recent-arrow-icon {
    &:before {
      background-position: -56px -36px;
    }
  }
}
.t-recent {
  .t-time {
    border-right: 1px solid @color1;
  }
  .t-box-btn {
    padding-right: 17px;
  }
  td.t-username {
    border-right: none;
  }
  .t-menu_item {
    background-position: -231px 55%;
    width: @width16;
  }
  .t-content {
    width:@width2;
  }
}
td.t-pin-box {
  border-right: none;
}
.t-pin-box {
  color: @color15;
  font-size: 12px;
  text-align: center;
  input[type='text'] {
    color: @color0;
    height: 32px;
    padding: 0 8px;
    width: 90px;
    &:-moz-placeholder {
      color: @color0;
    }
    &::-webkit-input-placeholder {
      color: @color0;
    }
  }
}
.t-pin-box__falshe {
  input[type='text'] {
    background: #c32526;
    padding: 0 6px;
  }
}
.t-favor {
  .t-menu_item {
    background-position: -110px 55%;
    width: @width16;
  }
  .t-content {
    width:@width2;
  }
}
.t-mail {
  .t-menu_item {
    background-position: -170px 55%;
    width: 62px;
  }
  .content {
    width: @width34;
  }
  .t-userpic {
    padding-right: 20px;
    width: @width11;
  }
  .t-username {
    border-right: none;
  }
  .t-box-btn {
    padding: 0 10px 0 0;
  }
}
.t-mail-sound {
  height: @height21;
  position: relative;
  width: @width34;
  .t-time {
    margin: 0 0 0 9px;
  }
  .t-mail-sound_panel {
    .t-time {
      display: block;
      float: left;
      margin: 0 14px 0 5px;
    }
  }
}
.t-sound-progress-box {
  background: @color16;
  height: @height30;
  width: @width34;
}
.t-sound-progress {
  background: @color3;
  height: @height30;
  position: relative;
  width: 50%;
  &:after {
    background: url("~/plugins/webitel/cti/img/t-sound-progress__icon.png");
    content: '';
    display: block;
    height: @height20;
    position: absolute;
    right: -15px;
    top: -3px;
    width: 15px;
  }
}
.t-mail-sound_panel {
  position: absolute;
  right: 0;
  top: 8px;
}
.t-mail-sound_play {
  background: url("~/plugins/webitel/cti/img/t-mail-sound_play__icon.png") no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: @height33;
  margin: 5px 2px 0 2px;
  padding: 4px 5px;
  width: 4px;
}
.t-mail-sound_stop {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 2px;
  padding: 6px 5px;
  &:after {
    background: @color0;
    content: '';
    display: block;
    height: @height31;
    width: @width50;
  }
}
.t-alert_coll-stat-box {
  position: relative;
}
.t-alert-box__first {
  span {
    display: block;
    position: absolute;
    top: -10px;
  }
}
.t-calls {
  position:relative;
  .t-menu_item {
    background-position: -343px 55%;
    width: @width16;
  }
}
.t-phone {
  background: @color12;
  height: @height8;
  width: @width4;
  input[type='text'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid @color1;
    box-sizing: border-box;
    float: left;
    height: @height8;
    padding: 0 10px 0 17px;
    width: 150px;
  }
}
.t-phone_num-btn {
  background: @color4 url("~/plugins/webitel/cti/img/sprite-x.png") no-repeat -413px 55%;
  border-right: 1px solid @color1;
  cursor: pointer;
  float: left;
  height: @height24;
  width: @width27;
  &:hover {
    background-color: @color2;
  }
}
.t-phone_num_call-btn {
  background: @color3 url("~/plugins/webitel/cti/img/sprite-x.png") no-repeat -349px 55%;
  cursor: pointer;
  float: left;
  height: @height24;
  width: @width17;
  &:hover {
    background-color: @color5;
  }
}
.t-phone_num {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: @color4;
  border-top:1px solid @color0;
  box-sizing: border-box;
  display: none;
  height: 261px;
  padding: 19px 8px 0 32px;
  text-align: center;
  width: @width4;
  li {
    border-radius: 47px;
    border: 1px solid @color1;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: @height22;
    line-height: @height22;
    margin: 0 8px 7px 0;
    width: 4@width50;
    &:hover {
      background: @color2;
    }
  }
}
.t-num {
  .t-menu_item {
    background-image: none;
    padding: 0 17px;
  }
}
.t-status-select {
  position:relative;
  .t-menu_item {
    background-image: none;
    padding: 0 17px 0 0;
    .t-userpic {
      float: left;
      max-height: @height24;
      overflow: hidden;
      img {
        margin-top: 8px;
      }
    }
  }
  .t-content {
    right:0;
  }
  .t-status {
    float: left;
    margin-right: 10px;
  }
}
.t-status-select_text {
  float: left;
  &:after {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") 0 -16px;
    content: '';
    display: inline-block;
    height: 4px;
    margin: 0 0 2px 12px;
    width: @width37;
  }
}
.t-active {
  .t-status-select_text {
    &:after {
      background-position: -129px -9px;
    }
  }
}
.t-status-select-menu {
  ul {
    margin-top: 1px;
    width: @width34;
  }
  li {
    background: @color4;
    border-top: 1px solid @color1;
    cursor: pointer;
    display: block;
    float: none;
    height: 33px;
    line-height: 28px;
    vertical-align: middle;
    &:first-child {
      border-top: none;
    }
    &:hover {
      background: @color2;
    }
  }
  .t-status-select_mic {
    padding-left: 41px;
    position: relative;
  }
  .t-status-select_can {
    padding-left: 41px;
    position: relative;
  }
}
.t-status-select_mic {
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") -31px 0;
    content: '';
    display: block;
    height: @height27;
    left: 12px;
    position: absolute;
    top: 9px;
    width: @width41;
  }
}
.t-status-select_mic__off {
  &:before {
    background-position: -14px 0;
  }
}
.t-status-select_can {
  &:before {
    background: url("~/plugins/webitel/cti/img/sprite-x-y.png") 0 0;
    content: '';
    display: block;
    height: 8px;
    left: 14px;
    position: absolute;
    top: 12px;
    width: @width28;
  }
}
.t-status-select_can__off {
  background-position: 0 -8px;
}
.h288 {
  height:288px;
}
.t-main>div {
  display:none;
}
.window_btns {
  position:fixed;
  li {
    margin:5px;
  }
  a {
    background:@color12;
    color:@color0;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px 10px;
    text-decoration:none;
    width:@width5;
  }
}
.niceCheck {
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background:url("~/plugins/webitel/cti/img/check_sprite.png") 0 0px no-repeat;
  cursor: pointer;
  display:block;
  float:left;
  height:@height23;
  margin:0px 12px 0 0px;
  width:@width33;
  input {
    display: none;
  }
}
.niceCheck.chkd {
  background-position:0 -20px;
}
.t_ch {
  display:block;
  float:left;
  line-height:@height23;
}
#simplemodal-overlay {
  background-color:@color12;
}
#simplemodal-container {
}
.simplemodal-wrap {
  overflow:visible !important;
  position:relative;
  top:0;
}
.simplemodal-container {
  .modalClose {
    background:url("~/plugins/webitel/cti/img/sprite1.png") 0 0 no-repeat;
    cursor: pointer;
    display: block;
    height:@height31;
    position: absolute;
    right:10px;
    top:9px;
    width:@width50;
    z-index:110;
  }
}
.t-window {
  background:@color2;
  color:@color0;
  display:none;
  font-family: 'Ubuntu', sans-serif;
  font-size:14px;
  line-height:@height23;
  position:relative;
  .window-wrap {
    position:relative;
  }
  h3 {
    color:@color0;
    font-size:17px;
    font-weight:normal;
    padding:10px 20px;
  }
}
#t_window1 {
  width:3@width28;
}
#t-window2 {
  width:813px;
  .window-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 593px;
    padding: 19px 22px 28px 25px;
  }
  .t-col-l {
    float: left;
    width: @width6;
  }
  .t-col_head {
    height: 2@height31;
    line-height: 2@height31;
    margin-bottom: 17px;
    span {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 29px;
      border: 2px solid @color0;
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height: @height16;
      line-height: 25px;
      padding-right: 1px;
      text-align: center;
      width: @width12;
    }
    p {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .t-content {
    display: block;
    height: 355px;
    position: static;
    .pane {
      height:282px;
      width:@width6;
    }
  }
  .t-col-r {
    float: right;
    width: @width6;
    .t-content {
      height: 4@height12;
      margin-bottom: 25px;
    }
  }
  .t-icon-change {
    background: url("~/plugins/webitel/cti/img/11-Conferences-2_03.png");
    display: block;
    height: @height28;
    left: 396px;
    position: absolute;
    top: 229px;
    width: 24px;
  }
}
.t-form1 {
  textarea {
    -moz-box-sizing:border-box;
    background:@color7;
    border:none;
    box-sizing:border-box;
    color:@color0;
    display:block;
    font-family: 'Ubuntu', sans-serif;
    height:83px !important;
    line-height:@height23;
    padding:8px 20px;
    width:@width34 !important;
  }
}
.t-line {
  margin:0 0 17px;
}
.t-btn_line {
  margin:0;
}
.t-submit {
  background:@color13;
  border:none;
  color:@color0;
  cursor:pointer;
  display:block;
  font-family: 'Ubuntu', sans-serif;
  font-size:17px;
  font-weight:500;
  height:@height13 !important;
  line-height:@height13;
  text-align:center;
  width:@width34;
  &:hover {
    background:#f09541;
  }
}
.t-form2 {
  .conference_password {
    background:@color7;
    color:@color0;
    display:block;
    float:right;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
    height:@height11;
    line-height:@height11;
    margin:-12px 0 0;
    padding:0 17px;
    width:@width20 !important;
  }
}
.conference_password_pad {
  padding:12px 0 0;
  position:relative;
  .t-blocked_input {
    display:block;
    height:@height11;
    position:absolute;
    right:0;
    top:0;
    width:@width20;
  }
  .niceCheck {
  }
  .niceCheck+.t_ch {
    color:#6f6f6f;
    .t-blocked_input {
      background:#2e2e2e;
    }
  }
  .niceCheck.chkd {
  }
  .niceCheck.chkd+.t_ch {
    color:@color0;
    .t-blocked_input {
      display:none;
    }
  }
}
#t-call_window_small {
  bottom:110px;
  position:fixed;
  right:25px;
  width:@width7;
  .t-fullscreen_btn {
    background:url("~/plugins/webitel/cti/img/full_screen_pic.png") 0 0 no-repeat;
    bottom:8px;
    cursor:pointer;
    height:@height27;
    position:absolute;
    position:absolute;
    right:8px;
    width:@width44;
  }
  img {
    display:block;
  }
  .t-mute_btn {
    background:url("~/plugins/webitel/cti/img/call_pics01.png") 47px -76px no-repeat #bfbfbf;
    cursor:pointer;
    display:block;
    height:9@height30;
    width:@width7;
  }
  .t-mute_btn.active {
    background-position:47px 24px;
  }
}
.t-sm_vid_wr {
  overflow:hidden;
  position:relative;
}
#t-window3 {
  img {
    display:block;
    height:@height24;
    width:auto;
  }
}
#simplemodal-overlay.t-big_video_overlay {
  opacity:1 !important;
}
.t-big_video_close {
  background:url("~/plugins/webitel/cti/img/big_video_pics.png") -139px -36px no-repeat;
  bottom:25px;
  cursor:pointer;
  display:block;
  height:@height28;
  position:absolute;
  right:45px;
  width:36px;
  z-index:110;
}
.t-big_video_menu {
  bottom:18px;
  position:absolute;
  right:117px;
  z-index:111;
  li {
    float:left;
    margin-left:34px;
  }
  a {
    background:url("~/plugins/webitel/cti/img/big_video_pics.png");
    display:block;
    height:35px;
    width:@width17;
  }
  .video_source_btn {
    background-position:0 -34px;
  }
  .sound_source_btn {
    background-position:-72px -34px;
  }
  .video_source_btn.active {
    background-position:0 1px;
  }
  .sound_source_btn.active {
    background-position:-72px 1px;
  }
}
.t-video_wr {
  position:relative;
}
.t-form3 {
  margin: 0px 0 24px 0;
  p {
    margin-bottom: 10px;
  }
  input[type="text"] {
    float: left;
    height: @height13;
    width: 3@width44;
  }
  input[type="submit"] {
    background: @color6 url("~/plugins/webitel/cti/img/t-btn__plus.png") center no-repeat;
    border: none;
    float: left;
    height: @height13;
    width: 42px;
    &:hover {
      background-color: @color9;
    }
  }
}
.t-form3_line {
  height: @height13;
}
.t-create-btn {
  background: @color6;
  cursor: pointer;
  display: block;
  font-size: 17px;
  height: @height11;
  line-height: @height11;
  text-align: center;
  &:hover {
    background: @color9;
  }
}
.t-menu-overlay {
  background:rgba(0,0,0,0);
  bottom:0;
  display:none;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:31;
}
#tooltip {
  background:@color0;
  border-radius:6px;
  border:1px solid @color14;
  display:none;
  left:0;
  padding:5px 10px;
  position:absolute;
  top:0;
  z-index:111;
  &:before {
    border-bottom:6px solid transparent;
    border-right:6px solid @color14;
    border-top:6px solid transparent;
    content:"";
    display:block;
    left:-7px;
    margin-top:-6px;
    position:absolute;
    top:50%;
  }
}