doctype html
html
   head
      title Login
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='./styles/login.css')
body
   body.align
      div.site__container
         div.grid__container
            //div.form__field(style="height: 51px;")
               img(src="/images/no_border.png", style="height: 51px;")
            h1 Kibana

            form.form.form--login(name="loginForm", style="position:relative;")
               div.form__field
                  label.fa.fa-user(for="login__username")
                     span.hidden Username
                  input#login__username.form__input(placeholder="Username", type="text", required)
               div.form__field
                  label.fa.fa-lock(for="login__password")
                     span.hidden Username
                  input#login__password.form__input(placeholder="Password", type="password")
               div.form__field
                  //button(type="submit", onclick="submitform()") Sign In
                  input(type="submit", value="Sign In", onclick="submitform(); return false;")
               div#errorMsg.error(style="position:absolute;width:100%;display:none") Error


script(type='text/javascript').
   var timerId;
   function getXmlHttp() {
      var xmlhttp;
      try {
         xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
      } catch (e) {
         try {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
         } catch (E) {
            xmlhttp = false;
         }
      }
      if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
         xmlhttp = new XMLHttpRequest();
      }
      return xmlhttp;
   };

   function submitform() {
      var xhr = getXmlHttp();
      xhr.open("post", './login', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      var j = {
         "username": document.getElementById('login__username').value,
         "password": document.getElementById('login__password').value
      };
      xhr.onreadystatechange = function () {
         if (xhr.readyState == 4) {
            if (xhr.status == 200) {
               window.location.href = './'
            } else {
               var err = document.getElementById('errorMsg');
               err.style.display = '';
               err.innerHTML = 'Invalid Username or Password (' + xhr.status + ')';
               if (timerId)
                  clearTimeout(timerId);
               timerId = setTimeout(function () {
                  err.style.display = 'none';
               }, 5000);
            };
         };
      };
      xhr.send(JSON.stringify(j));
   };