<div ng-controller="KbnWebitelCallsVisController" class="webitel-plugin-vis table-vis">
	<div ng-if="!hasSomeRows && hasSomeRows !== null" class="table-vis-error">
		<h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
		<h4>No results found</h4>
	</div>

	<div ng-if="hasSomeRows" >
        <table ng-table="tableParams" class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>
                    Time
                </th>
                <th ng-repeat="(key, item) in vis.params.columns | orderBy:'-pos'" ng-if="item.visible">
                    {{item.title}}
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tr ng-repeat="row in $data" ng-class="getClass(row.callstate)">
                <td>
                    <timer start-time="row.createdOn" interval="1000">{{millis | date:'mm:ss'}}</timer>
                </td>
                <td ng-repeat="(key, item) in vis.params.columns | orderBy:'-pos'" ng-if="item.visible">
                    {{row[key]}}
                </td>
                <td>
                    <a ng-if="useWebPhone()" class="btn" ng-click="eavesdrop(row)">
                        <i class="fa fa-plug"></i>
                    </a>
                </td>
            </tr>
        </table>
	</div>
</div>