.member-list table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.member-list .in-queue {
    background-color: rgba(232, 232, 232, 0.27);
}
.member-list .receiving {
    background-color: rgba(226, 196, 38, 0.31);
}
.member-list .in-call {
    background-color: rgb(87, 193, 123);
}

.member-list tr td:first-child,
.member-list tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.member-list tr td:last-child,
.member-list tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}